a{
    margin: 2px;
    /* color: white; */
}
.building-image {
    /* background-image: url("building1.jpg"); */
    background:linear-gradient(rgba(100, 81, 207, 0.5), rgba(127, 116, 221, 0.5)),
    url("../Bootstrap/images/building1.jpg"); 
    /* background-color: #cccccc; */
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* opacity: 0.8; */
  }
  .text{
      position:absolute;
      top: 30%;
      left: 20%;
       width:50%;
       /* background:white; */
  }
  .heit{
      height: 200px;
  }
  /* .third{
      height: 500px; 
  }
  .fourth{
      height: 500px; 
  } */
  .font{
      font-size:small;
  }
  img{
    box-shadow:  0 0 10px darkblue;
    width: 100%;
    height:100%
  }
   .box3{
     /* background-image: url("two-buildings.jpg"); */
      height: 100%;
      background-repeat: no-repeat;
      background-position: center; 
      /* filter: blur(1px); */
      /* opacity: 0.8; */
   /* -webkit-filter: blur(8px);  */
     background-image:linear-gradient(rgba(243, 52, 52, 0.5), rgba(247, 31, 31, 0.5)),
    url("../Bootstrap/images/two-buildings.jpg");
  }  
  .box2{
    /* background-image: url("two-buildings.jpg"); */
     height: 100%;
     background-repeat: no-repeat;
     background-position: center; 
    background-image:linear-gradient(rgba(82, 204, 102, 0.5), rgba(80, 233, 106, 0.5)),
   url("../Bootstrap/images/two-buildings.jpg");
 }  
 .box1{
    /* background-image: url("two-buildings.jpg"); */
     height: 100%;
     background-repeat: no-repeat;
     background-position: center; 
    background-image:linear-gradient(rgba(66, 26, 26, 0.5), rgba(59, 17, 17, 0.5)),
   url("../Bootstrap/images/two-buildings.jpg");
 }  
  i{
      margin-right: 10px;
  }
  .pad{
      padding-left: 40px;
  }